<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174162040-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-174162040-1');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	{% block head %}{% endblock %}
</head>

<body>
	{% block body %}{% endblock %}
</body>

<footer>
	<p>&#128071; Consider following me on &#128071;</p>
	<a href="https://www.instagram.com/larryto/">
		<img src="{{url_for('static', filename='img/instagram_logo.jpg')}}" 
		align="middle" 
		alt="Larry To Instragram"
		style="width:30px;height:30px"/>
	</a>
	{% block footer %}{% endblock %}

</footer>	
</html>

